$theme-colors: (
  "primary": #03d1dc,
);

// @import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

* {
  color: #454040;
}

#main-container {
  background-image: url(/assets/dance.jpg);
  background-repeat: no-repeat;
  background-size: 100vw;
  height: 50vw;
}

#displayed-joke{
  padding-top: 30px;
  font-weight: bold;
}


#weather-cont {
  display: flex;
  
}